@model TEST01.Models.DatMonAnModel
@{
}
<h1>Đăng ký</h1>
<form method="post" action="DatMonAn">

    <label for="username"><b>Mã Khách Hàng</b></label>
    <input type="text" placeholder="Nhập Mã Khách Hàng" asp-for="MaKH">

    <label for="username"><b>Mã Hóa Đơn</b></label>
    <input type="text" placeholder="Nhập Mã Hóa Đơn" asp-for="MaHoaDon">

    <br />

    <label for="password"><b>Ngày Hóa Đơn</b></label>
    <input type="date" placeholder="Nhập ngày Hóa Đơn" required asp-for="NgayHD">

    <br />

    <label for="firstName"><b>Mã món ăn</b></label>
    <input type="text" placeholder="Nhập mã món ăn" asp-for="MaMonAn">

    <br />

    <label for="lastName"><b>Tên món ăn</b></label>
    <input type="text" placeholder="Nhập tên món ăn" asp-for="TenMonAn">

    <br />
    <label for="SoLuong"><b>Số lượng</b></label>
    <input type="number" placeholder="Nhập số lượng món ăn" asp-for="SoLuong" id="SoLuong" oninput="calculateTotal()">

    <br />

    <label for="DonGia"><b>Đơn giá</b></label>
    <input type="number" placeholder="Nhập đơn giá món ăn" asp-for="DonGia" id="DonGia" oninput="calculateTotal()">

    <label for="ThanhTien"><b>Thành tiền</b></label>
    <input type="number" placeholder="Thành tiền" asp-for="ThanhTien" id="ThanhTien" readonly>

    <br />

    <br />


    <br />

    <button type="submit">Đặt món</button>
</form>
<script>
    function calculateTotal() {
        var soLuong = document.getElementById('SoLuong').value;
        var donGia = document.getElementById('DonGia').value;
        var thanhTien = soLuong * donGia;

        // Display the calculated value in the ThanhTien input field
        document.getElementById('ThanhTien').value = thanhTien;
    }
</script>